<!DOCTYPE html>
<html>
<head>
    <title>Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="upload-bg">

<div class="container">

<h2>Create Post</h2>

<a href="/dashboard/{{username}}">⬅ Back</a>

<form method="POST" enctype="multipart/form-data">
    <textarea name="content" placeholder="Write something..." required></textarea>
    <input type="file" name="image">
    <button type="submit">Post</button>
</form>

</div>

</body>
</html>